<header>
  <nav class="navbar">
    <div class="nav-container">
      <div>
        <p class="logo">WLL</p>
      </div>

      <div class="links-container">
        <a
          routerLink="/"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
          class="nav-link"
          >{{ "HEADER.HOME" | translate }}</a
        >
        <a routerLink="/journey" routerLinkActive="active" class="nav-link">{{
          "HEADER.JOURNEY" | translate
        }}</a>
        <a
          routerLink="/professional-projects"
          routerLinkActive="active"
          class="nav-link"
          >{{ "HEADER.PRO_PROJECTS" | translate }}</a
        >
        <a
          routerLink="/personal-projects"
          routerLinkActive="active"
          class="nav-link"
          >{{ "HEADER.PERSONAL_PROJECTS" | translate }}</a
        >
        <a routerLink="/cv" routerLinkActive="active" class="nav-link">{{
          "HEADER.RESUME" | translate
        }}</a>
        <button (click)="toggleLanguage()" class="toggle">
          <svg
            *ngIf="currentLanguage === 'fr'"
            class="flag"
            xmlns="http://www.w3.org/2000/svg"
            id="flag-icons-fr"
            viewBox="0 0 640 480"
          >
            <path fill="#fff" d="M0 0h640v480H0z" />
            <path fill="#002654" d="M0 0h213.3v480H0z" />
            <path fill="#ce1126" d="M426.7 0H640v480H426.7z" />
          </svg>
          <svg
            *ngIf="currentLanguage === 'en'"
            class="flag"
            xmlns="http://www.w3.org/2000/svg"
            id="flag-icons-gb"
            viewBox="0 0 640 480"
          >
            <path fill="#012169" d="M0 0h640v480H0z" />
            <path
              fill="#FFF"
              d="m75 0 244 181L562 0h78v62L400 241l240 178v61h-80L320 301 81 480H0v-60l239-178L0 64V0h75z"
            />
            <path
              fill="#C8102E"
              d="m424 281 216 159v40L369 281h55zm-184 20 6 35L54 480H0l240-179zM640 0v3L391 191l2-44L590 0h50zM0 0l239 176h-60L0 42V0z"
            />
            <path fill="#FFF" d="M241 0v480h160V0H241zM0 160v160h640V160H0z" />
            <path fill="#C8102E" d="M0 193v96h640v-96H0zM273 0v480h96V0h-96z" />
          </svg>
          {{ currentLanguage === "en" ? "EN" : "FR" }}
        </button>
      </div>
    </div>
  </nav>

  <div class="mobile-header">
    <!-- Logo -->
    <div class="logo-container">
      <p class="logo">WLL</p>
    </div>

    <!-- Icône du menu burger -->
    <div class="burger-menu" (click)="toggleMenu()">
      <i
        [class.fas]="true"
        [class.fa-bars]="!isMenuOpen"
        [class.fa-xmark]="isMenuOpen"
      ></i>
    </div>
  </div>

  <!-- Menu en plein écran -->
  <div class="fullscreen-menu" [class.active]="isMenuOpen">
    <div class="mob-cont">
      <div class="mobile-links-container">
        <a
          routerLink="/"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
          class="mobile-nav-link"
          (click)="toggleMenu()"
          >{{ "HEADER.HOME" | translate }}</a
        >
        <a
          routerLink="/journey"
          routerLinkActive="active"
          class="mobile-nav-link"
          (click)="toggleMenu()"
          >{{ "HEADER.JOURNEY" | translate }}</a
        >
        <a
          routerLink="/professional-projects"
          routerLinkActive="active"
          class="mobile-nav-link"
          (click)="toggleMenu()"
          >{{ "HEADER.PRO_PROJECTS" | translate }}</a
        >
        <a
          routerLink="/personal-projects"
          routerLinkActive="active"
          class="mobile-nav-link"
          (click)="toggleMenu()"
          >{{ "HEADER.PERSONAL_PROJECTS" | translate }}</a
        >
        <a
          routerLink="/cv"
          routerLinkActive="active"
          class="mobile-nav-link"
          (click)="toggleMenu()"
          >{{ "HEADER.RESUME" | translate }}</a
        >
      </div>
      <button (click)="toggleLanguage()" class="language-toggle">
        <svg
          *ngIf="currentLanguage === 'fr'"
          class="flag"
          xmlns="http://www.w3.org/2000/svg"
          id="flag-icons-fr"
          viewBox="0 0 640 480"
        >
          <path fill="#fff" d="M0 0h640v480H0z" />
          <path fill="#002654" d="M0 0h213.3v480H0z" />
          <path fill="#ce1126" d="M426.7 0H640v480H426.7z" />
        </svg>
        <svg
          *ngIf="currentLanguage === 'en'"
          class="flag"
          xmlns="http://www.w3.org/2000/svg"
          id="flag-icons-gb"
          viewBox="0 0 640 480"
        >
          <path fill="#012169" d="M0 0h640v480H0z" />
          <path
            fill="#FFF"
            d="m75 0 244 181L562 0h78v62L400 241l240 178v61h-80L320 301 81 480H0v-60l239-178L0 64V0h75z"
          />
          <path
            fill="#C8102E"
            d="m424 281 216 159v40L369 281h55zm-184 20 6 35L54 480H0l240-179zM640 0v3L391 191l2-44L590 0h50zM0 0l239 176h-60L0 42V0z"
          />
          <path fill="#FFF" d="M241 0v480h160V0H241zM0 160v160h640V160H0z" />
          <path fill="#C8102E" d="M0 193v96h640v-96H0zM273 0v480h96V0h-96z" />
        </svg>
        {{ currentLanguage === "en" ? "EN" : "FR" }}
      </button>
    </div>
  </div>
</header>
