<div
  class="page-container"
  *ngIf="personalProjects$ | async as personalProjects"
>
  <app-projects-navigation
    [projectsList]="personalProjects"
    [currentProjectId]="currentVisibleProjectId"
  ></app-projects-navigation>

  <div class="project-card">
    <!-- Data Container -->
    <div
      class="data-container"
      *ngFor="let personalProject of personalProjects"
      [id]="personalProject._id"
    >
      <!-- Project Image -->
      <div class="image-container">
        <h2 class="project-title-mobile">{{ personalProject.name }}</h2>
        <img
          class="project-image"
          [src]="personalProject.image"
          [alt]="personalProject.name + ' image'"
        />
      </div>

      <div class="data-grid">
        <!-- Project Title -->
        <h2 class="project-title">{{ personalProject.name }}</h2>

        <!-- Project Date -->
        <div>
          <h3 class="item-title">{{ "LABELS.DATE" | translate }}</h3>
          <p class="item-text">{{ personalProject.date }}</p>
        </div>

        <!-- Project Description -->
        <div>
          <h3 class="item-title">{{ "LABELS.DESCRIPTION" | translate }}</h3>
          <p class="item-text">
            {{
              currentLanguage === "en"
                ? personalProject.short_description
                : personalProject.short_description_fr
            }}
          </p>
        </div>

        <!-- Project Stack -->
        <div>
          <h3 class="item-title">{{ "LABELS.STACK" | translate }}</h3>
          <div class="stack-container">
            <span
              class="stack-item"
              *ngFor="let stackItem of personalProject.stack"
            >
              <!-- <img
              src="{{ stackItem.icon }}"
              alt="{{ stackItem.name }}"
              class="stack-icon"
            /> -->
              {{ stackItem.name }}
            </span>
          </div>
        </div>

        <!-- Buttons row -->
        <div class="buttons-row">
          <!-- Project Link -->
          <a
            *ngIf="personalProject.link"
            class="button-alt"
            href="{{ personalProject.link }}"
            target="_blank"
            >{{ "LABELS.CHECK_IT_OUT" | translate }}</a
          >

          <!-- Project details -->
          <a
            class="button"
            [routerLink]="['/personal-projects', personalProject._id]"
            >{{ "LABELS.DETAILS" | translate }}</a
          >
        </div>
      </div>
    </div>
  </div>
</div>
