.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #0a0a0a;
  height: 4rem;
  position: fixed;
  width: 100%;
  z-index: 1000;
}

.nav-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80%;
  height: 100%;
}

.logo {
  /* color: #ff8731;
  font-weight: bold;
  font-size: 2rem; */
  height: 1.5rem;
}

.links-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
  width: 60%;
  gap: 1rem;
  color: #dcdcdc;
}

.nav-link {
  color: #dcdcdc;
  text-decoration: none;
  font-weight: bold;
  height: 100%;
  min-width: 80px;
  max-width: 160px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: transparent 4px solid;
}

.nav-link:hover {
  color: #ff8731;
  border-bottom: #ff8731 4px solid;
  transition: all 0.15s ease-in-out;
}

.nav-link.active {
  color: #ff8731;
  border-bottom: #ff8731 4px solid;
}

.toggle {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 80px;
  margin-left: 0.5rem;
  padding: 6px;
  border-radius: 6px;

  background: rgba(122, 122, 122, 0.15);
  box-shadow: 0 3px 12px 0 rgba(220, 220, 220, 0.1);
  backdrop-filter: blur(19px);
  -webkit-backdrop-filter: blur(19px);
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.flag {
  width: 24px;
  height: 18px;
}

.burger-menu {
  display: none;
  color: #dcdcdc;
  font-size: 2rem;
  position: fixed;
  top: 10px;
  right: 20px;
  cursor: pointer;
  z-index: 1001;
}

.mobile-header {
  height: 4rem;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #0a0a0a;
  display: none;
  align-items: center;
  z-index: 1000;
}

.logo-container {
  display: flex;
  align-items: center;
  justify-content: start;
  padding-left: 1.25rem;
  width: 100%;
}

.fullscreen-menu {
  display: none;
  position: fixed;
  top: 4rem;
  left: 0;
  width: 100%;
  height: calc(100vh - 4rem);
  background-color: #0a0a0a;
  color: white;
  padding: 2rem 1.25rem 1.25rem 1.25rem;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  z-index: 1000;
  opacity: 0;
  transform: translateX(-100%);
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.mob-cont {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  position: relative;
}

.mobile-links-container {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  gap: 1rem;
  width: 100%;
  height: 100%;
}

.mobile-nav-link {
  color: #dcdcdc;
  text-decoration: none;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: start;
  border-bottom: transparent 4px solid;
  padding: 8px;
  width: 100%;
}

.mobile-nav-link:hover {
  color: #ff8731;
  border-bottom: #ff8731 4px solid;
  transition: all 0.15s ease-in-out;
}

.mobile-nav-link.active {
  color: #ff8731;
  border-bottom: #ff8731 4px solid;
}

.fullscreen-menu.active {
  display: flex;
  opacity: 1;
  transform: translateX(0);
}

.language-toggle {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 80px;
  margin-left: 0.5rem;
  border: #dcdcdc 1px solid;
  padding: 6px;
  border-radius: 6px;
  margin-bottom: 1rem;
}

/* Style pour les écrans de moins de 768px de large */
@media (max-width: 768px) {
  .navbar {
    display: none;
  }

  .mobile-header {
    display: flex;
  }

  .burger-menu {
    display: block;
  }
}
