<header>
  <!-- Navbar Section -->
  <nav class="navbar">
    <div class="nav-container">
      <!-- Logo Section -->
      <a routerLink="/">
        <img src="assets/svg/logo.svg" alt="Logo" class="logo" />
      </a>

      <!-- Links Container Section -->
      <div class="links-container">
        <!-- Homepage -->
        <a
          routerLink="/"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
          class="nav-link"
          >{{ "HEADER.HOME" | translate }}</a
        >
        <!-- Journey -->
        <a routerLink="/journey" routerLinkActive="active" class="nav-link">{{
          "HEADER.JOURNEY" | translate
        }}</a>
        <!-- Projects -->
        <div class="button-container">
          <button
            class="nav-link"
            (click)="toggleSelect()"
            [ngClass]="{ active: isActive() }"
          >
            {{ "HEADER.PROJECTS" | translate }}
            <i
              class="fas fa-chevron-down icon"
              [ngClass]="{ rotate: isSelectOpen }"
            ></i>
          </button>

          <div class="dropdown" *ngIf="isSelectOpen">
            <a
              routerLink="/professional-projects"
              routerLinkActive="active"
              (click)="toggleSelect()"
              class="button-link"
              >{{ "HEADER.PRO_PROJECTS" | translate }}</a
            >
            <a
              routerLink="/personal-projects"
              routerLinkActive="active"
              (click)="toggleSelect()"
              class="button-link"
              >{{ "HEADER.PERSONAL_PROJECTS" | translate }}</a
            >
          </div>
        </div>
        <!-- Contact -->
        <a routerLink="/contact" routerLinkActive="active" class="nav-link">{{
          "HEADER.CONTACT" | translate
        }}</a>
        <!-- Resume -->
        <a routerLink="/cv" routerLinkActive="active" class="nav-link">{{
          "HEADER.RESUME" | translate
        }}</a>

        <!-- Language Toggle -->
        <button (click)="toggleLanguage()" class="toggle">
          <img
            src="assets/svg/french-flag.svg"
            *ngIf="currentLanguage === 'fr'"
            alt="French flag"
            class="flag"
          />

          <img
            src="assets/svg/english-flag.svg"
            *ngIf="currentLanguage === 'en'"
            alt="English flag"
            class="flag"
          />

          {{ currentLanguage === "en" ? "EN" : "FR" }}
        </button>
      </div>
    </div>
  </nav>

  <!-- Mobile Header Section -->
  <div class="mobile-header">
    <!-- Logo -->
    <a class="logo-container" routerLink="/">
      <img src="assets/svg/logo.svg" alt="Logo" class="logo" />
    </a>

    <!-- Burger menu icon -->
    <button class="burger-menu" (click)="toggleMenu()">
      <i
        [class.fas]="true"
        [class.fa-bars]="!isMenuOpen"
        [class.fa-xmark]="isMenuOpen"
      ></i>
    </button>
  </div>

  <!-- Dropdown menu -->
  <div class="fullscreen-menu" [class.active]="isMenuOpen">
    <div class="mob-cont">
      <div class="mobile-links-container">
        <!-- Homepage -->
        <a
          routerLink="/"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
          class="mobile-nav-link"
          (click)="toggleMenu()"
          >{{ "HEADER.HOME" | translate }}</a
        >
        <!-- Journey -->
        <a
          routerLink="/journey"
          routerLinkActive="active"
          class="mobile-nav-link"
          (click)="toggleMenu()"
          >{{ "HEADER.JOURNEY" | translate }}</a
        >
        <!-- Projects -->
        <a
          routerLink="/professional-projects"
          routerLinkActive="active"
          class="mobile-nav-link"
          (click)="toggleMenu()"
          >{{ "HEADER.PRO_PROJECTS" | translate }}</a
        >
        <!-- Contact -->
        <a
          routerLink="/personal-projects"
          routerLinkActive="active"
          class="mobile-nav-link"
          (click)="toggleMenu()"
          >{{ "HEADER.PERSONAL_PROJECTS" | translate }}</a
        >
        <!-- Resume -->
        <a
          routerLink="/cv"
          routerLinkActive="active"
          class="mobile-nav-link"
          (click)="toggleMenu()"
          >{{ "HEADER.RESUME" | translate }}</a
        >
        <!-- Contact -->
        <a
          routerLink="/contact"
          routerLinkActive="active"
          class="mobile-nav-link"
          (click)="toggleMenu()"
          >{{ "HEADER.CONTACT" | translate }}</a
        >
      </div>
      <!-- Language Toggle -->
      <button (click)="toggleLanguage()" class="language-toggle">
        <img
          src="assets/svg/french-flag.svg"
          *ngIf="currentLanguage === 'fr'"
          alt="French flag"
          class="flag"
        />

        <img
          src="assets/svg/english-flag.svg"
          *ngIf="currentLanguage === 'en'"
          alt="English flag"
          class="flag"
        />
        {{ currentLanguage === "en" ? "EN" : "FR" }}
      </button>
    </div>
  </div>
</header>
