.page-container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #dcdcdc;
  padding-top: 64px;
  overflow-x: hidden;
}

.project-card {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.project-title {
  font-size: 2.5rem;
  font-weight: bold;
  color: #ff8731;
}

.project-title-mobile {
  display: none;
}

.data-container {
  width: 100%;
  height: calc(100vh - 64px);
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
  padding-top: 64px;
  gap: 4%;
}

.image-container {
  width: 32.5%;
  height: 30rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.project-image {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.data-grid {
  width: 45%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 1rem;
}

.item-title {
  font-size: 1.25rem;
  font-weight: bold;
  color: #ff8731;
}

.item-text {
  font-size: 1rem;
  font-weight: 300;
  color: #dcdcdc;
}

.stack-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
  margin-top: 4px;
}

.stack-item {
  background-color: #2b2b2b;
  padding: 2px 8px;
  border-radius: 6px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}

.stack-icon {
  width: 30px;
  height: 30px;
  object-fit: contain;
  padding: 2px;
  border-radius: 100%;
}

.buttons-row {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap: 2rem;
  margin: 2rem 0;
}

.button {
  padding: 0.5rem 1rem;
  border-radius: 6px;
  border: transparent solid 2px;
  background-color: #ff8731;
  color: #0a0a0a;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
}

.button-alt {
  padding: 0.5rem 1rem;
  border-radius: 6px;
  border: #ff8731 solid 2px;
  background-color: #0a0a0a;
  color: #ff8731;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
}

/* Media queries */

/* Below laptop screen size */
@media screen and (max-width: 1456px) {
  .data-container {
    justify-content: space-between;
  }

  .image-container {
    width: 45%;
    height: 90%;
  }
}

/* Below tablet screen size */
@media screen and (max-width: 799px) {
  .page-container {
    width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
    padding-top: 64px;
  }

  .project-card {
    width: 100%;
  }

  .data-container {
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    overflow-y: hidden;
    width: 100%;
  }

  .image-container {
    display: none;
  }

  .image-container,
  .data-grid {
    flex: 0 0 100vw;
    padding: 0 1rem 4rem 1rem;
  }

  .project-title {
    display: block;
    font-size: 1.5rem;
    font-weight: bold;
    color: #ff8731;
    margin-bottom: 2rem;
  }

  .project-title-mobile {
    display: block;
    font-size: 1.5rem;
    font-weight: bold;
    color: #ff8731;
    margin-bottom: 2rem;
  }

  .item-title {
    font-size: 1rem;
  }

  .item-text {
    font-size: 0.825rem;
  }

  .stack-item {
    font-size: 0.825rem;
  }

  .button {
    font-size: 0.825rem;
  }

  ::-webkit-scrollbar {
    width: 4px;
    height: 4px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: #0a0a0a;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #ff8731;
    border-radius: 2px;
  }
}
