@import "~@fortawesome/fontawesome-free/css/all.css";

/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --accent-color: #ff8731;
  --background-color: #0a0a0a;
  --text-color: #dcdcdc;
  --alt-bg-color: #7a7a7a;
  --warning-color: rgb(254, 0, 2);
}

html {
  overflow-y: scroll;
}

body {
  height: 100vh;
  font-family: "Titillium Web", sans-serif;
  background: linear-gradient(rgba(10, 10, 10, 0.8), rgba(10, 10, 10, 0.9)),
    url("https://ucarecdn.com/20b634ae-99c9-4687-8fec-ffe82a92efde/fotisfotopoulos6sAl6aQ4OWIunsplash.jpg");
  background-repeat: no-repeat;
  background-size: 100vw 100vh;
  background-position: center;
  background-attachment: fixed;
}

/* Ce code CSS va styliser toutes les barres de défilement dans votre application */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--background-color);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--alt-bg-color);
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--accent-color);
}

/* Below tablet screen size */
@media screen and (max-width: 799px) {
  body {
    background: linear-gradient(rgba(10, 10, 10, 0.8), rgba(10, 10, 10, 0.9)),
      url("https://ucarecdn.com/946dd327-fd5c-4750-b0c3-0a6ca01ca5fc/fotismobile.png");
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
    background-position: center;
    background-attachment: fixed;
  }
}
