@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  padding: 0;
  margin: 0;
  font-family: "Oswald", sans-serif;
  display: flex;
  flex-direction: column;
  height: 100vh;
  background: #231f20;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
